<div class="tabs">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Proyectos/Productos">
            <!-- PROYECTOS Y PRODUCTOS -->
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                  
                  <!-- Position Column -->
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> Titulo </th>
                    <td mat-cell *matCellDef="let element"> {{element.tituloProducto}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="investigador">
                    <th mat-header-cell *matHeaderCellDef> Investigadores </th>
                    <td mat-cell *matCellDef="let element"> {{element.investigador}} </td>
                  </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.estadoProducto}} </td>
                  </ng-container>
                  <!-- boton abrir -->


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10]"
                               showFirstLastButtons
                               aria-label="Select page of periodic elements">
                </mat-paginator>
              </div>
        </mat-tab>

        <!-- INVESTIGADORES -->
        <mat-tab label="Investigadores">
          <table mat-table [dataSource]="dataSource2">
      
            <ng-container matColumnDef="nombres">
              <th mat-header-cell *matHeaderCellDef> Nombres </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellidos}}</td>
            </ng-container>
      
            <ng-container matColumnDef="grupo">
              <th mat-header-cell *matHeaderCellDef> Grupo </th>
              <td mat-cell *matCellDef="let element"> {{element.Grupoinvestigacion}} </td>
            </ng-container>
            
            <!--           PROYECTOS Y PRODUCTOS-->
            <ng-container matColumnDef="detalles">
              <th mat-header-cell *matHeaderCellDef> Proyectos y productos </th>
              <td mat-cell *matCellDef="let element">
                <button mat-flat-button color="primary" (click)="toggleExpansion(element)" class="custom-button">Ver detalles</button>
                <mat-expansion-panel *ngIf="expandedElement === element">

                  <mat-expansion-panel-header *ngFor="let proyecto of element.proyectos">
                    <mat-panel-title>
                      {{ proyecto.titulo }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-expansion-panel-header *ngFor="let producto of element.productos">
                    <mat-panel-title>
                      {{ producto.tituloProducto }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <mat-list *ngIf="element.productos && element.productos.length > 0">
                    <mat-list-item *ngFor="let producto of element.productos">
                      <!-- Aquí puedes agregar más detalles del producto si lo deseas -->
                    </mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="element.proyectos && element.proyectos.length > 0">
                    <mat-list-item *ngFor="let proyecto of element.proyectos">
                      <!-- Aquí puedes agregar más detalles del proyecto si lo deseas -->
                    </mat-list-item>
                  </mat-list>
                  <p *ngIf="!(element.productos && element.productos.length > 0) && !(element.proyectos && element.proyectos.length > 0)">No hay proyectos ni productos asociados.</p>
                </mat-expansion-panel>
                
                
              </td>
            </ng-container>
            
            
            
            
            
            
            
            
            
            
            
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </mat-tab>
    </mat-tab-group>
</div>