<div class="circular-image">
    <img [src]="urlDeLaImagen" alt="Imagen" class="rounded-image" />
</div>

<form class="example-form">
 
    <!-- Información Personal -->
    <h2>Información Personal</h2>
    <div class="personal-info">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre y Apellidos</mat-label>
            <input matInput disabled [value]="userData ? userData.nombre + ' ' + userData.apellidos : ''" [disabled]="inputDeshabilitado">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Tipo de documento</mat-label>
            <input matInput disabled [value]="userData.tipodocumento" >
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Numero de documento</mat-label>
            <input matInput disabled [value]="userData.numerodocumento">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Correo</mat-label>
            <input matInput disabled [value]="userData.correo" [disabled]="inputDeshabilitado">
        </mat-form-field>


        <mat-form-field class="">
            <mat-label>Contraseña</mat-label>
            <input matInput disabled value="Laura Daniela Chiquillo Leon" [disabled]="inputDeshabilitado">
        </mat-form-field>
    </div>

    <!-- Información Académica -->
    <h2>Información Académica</h2>
    <div class="academic-info">
        <mat-form-field class="">
            <mat-label>Tipo de Posgrado</mat-label>
            <input matInput disabled [value]="userData.tipPosgrado.tipo"  [disabled]="inputDeshabilitado">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Titulo Posgrado</mat-label>
            <input matInput disabled [value]="userData.tipPosgrado.titulo   "  [disabled]="inputDeshabilitado">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Fecha</mat-label>
            <input type="date" matInput disabled [value]="userData.tipPosgrado.fecha"  [disabled]="inputDeshabilitado">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Titulo de Pregrado</mat-label>
            <input matInput disabled [value]="userData.tipPregrado.institucion" [disabled]="inputDeshabilitado">
        </mat-form-field>

        <mat-form-field class="">
            <mat-label>Fecha</mat-label>
            <input type="date"matInput disabled [value]="userData.tipPregrado.fecha"  [disabled]="inputDeshabilitado">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>institucion Pregrado</mat-label>
            <input matInput disabled [value]="userData.tipPregrado.institucion" [disabled]="inputDeshabilitado">
        </mat-form-field>
        <mat-form-field class="">
            <mat-label>IES</mat-label>
            <input matInput disabled [value]="userData.ies"  [disabled]="inputDeshabilitado">
        </mat-form-field>
    </div>

    <!-- Botones -->
    <div class="button-group">
        <button class="boton-estilizado" (click)="guardarDatos()">Guardar</button>
        <button class="boton-estilizado" (click)="activarInput()">Activar Input</button>
        <button class="boton-estilizado" (click)="desactivarInput()">Desactivar Input</button>
    </div>
</form>
