.example-card {
  max-width: 1000px;
  height: 1500px; /* Cambia el valor según sea necesario */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  gap: 20px;
}

img[mat-card-image] {
  width: 320px !important;
  height: 190px !important;
}



.example-large-box {
  display: flex;
}

.example-large-box .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px; /* Ajusta el valor según sea necesario */
}

.example-large-box .info {
  font-size: 13.5px;
  margin-top: 10px; /* Ajusta el valor según sea necesario */
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 20px; /* Ajusta el valor según sea necesario */
}

.body{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #6AABA0;
}
.login{
  width: 100%;
  max-width: 300px;
  text-align: center;
  flex: 1;  /*Distribuye el espacio disponible en partes iguales */
  padding: 10px; /* Añade espacio entre los divs si lo deseas */
}
.ancho{
  width: 80%;
}
.button{
  height: 50px;
}
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.example-small-box {
  height: 100px;
  width: 100px;
}
.example-large-box {
  height: 300px;
  width: 300px;
}
.mat-tab{
  width: 1000px;
  height: 5000px;
}
.titulo{
  display: flex;
  justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
  margin-top: 60px;
}

.titulo2{
  display: flex;
  justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
  margin-top: 5px;
}

.mat-form-field input {
  width: 250px; /* Ajusta este valor según el ancho deseado para los campos de entrada */
}

.reg {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
.form-field-spacing {
  display: inline-block; /* Mantiene los elementos en línea */
  margin-right: 50px; /* Ajusta este valor según el espacio deseado entre los mat-form-field */
  font-size: initial; /* Restaura el tamaño de fuente a su valor inicial */
  width: 200px;
}
.reg2 {
  display: flex;
  justify-content: center;
  margin-left: 180px;
}
.form-field-spacing2 {
  display: inline-block; /* Mantiene los elementos en línea */
  margin-right: 200px; /* Ajusta este valor según el espacio deseado entre los mat-form-field */
  font-size: initial; /* Restaura el tamaño de fuente a su valor inicial */
  width: 200px;
}
.anchoGuardar{
  width: 150px;
}