.mat-elevation-z8 {
    width: 70%;
    max-height: 500px;
    overflow: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table {
    width: 100%;
    max-width: 100%; /* Asegura que la tabla no se extienda más allá de su contenedor */
    font-size: 0.8em; /* Reduce el tamaño de la fuente si es necesario */
    /* Otros estilos personalizados para la tabla */
}

@media (max-width: 600px) {
    .mat-elevation-z8 {
      overflow-x: auto;
      width: auto;
    }
  }